<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
	<meta name="yandex-verification" content="1b1aa55a494642c2">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:image" content="/assets/googe_dino.png"> 
  {% if page.lang != 'en' %}
    <link rel="alternate" hreflang="en" href="{{ site.url }}/en/">
  {% endif %}

  {% if page.lang != 'ru' %}
    <link rel="alternate" hreflang="ru" href="{{ site.url }}/">
  {% endif %}

  {% if page.lang != 'ua' %}
    <link rel="alternate" hreflang="ua" href="{{ site.url }}/ua/">
  {% endif %}

  {% if page.lang != 'be' %}
    <link rel="alternate" hreflang="be" href="{{ site.url }}/be/">
  {% endif %}
</head>
