<script src="https://unpkg.com/telebug@latest"></script>
<script>
  telebug({
    botId: '474186924:AAGtoPx1A_q9MoLdhRCin5EmGwN7xlC_21g',
    chatId: '@ymatuhins_projects_errors',
    activeHosts: ['googledino.ru'],
    disableCorsMessage: true,
  });
</script>

<script src="/assets/redirect.js?v={{ site.time | date: '%s%N' }}"></script>
<script src="/assets/game.js?v={{ site.time | date: '%s%N' }}"></script>
<script src="/assets/likely.js"></script>
<script>
  window.onkeydown = function (e) {
    if (e.keyCode == 32 && e.target == document.body)
      e.preventDefault();
  };
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter40335350 = new Ya.Metrika({ id: 40335350, clickmap: true, trackLinks: true, accurateTrackBounce: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <div>
    <img src="https://mc.yandex.ru/watch/40335350"
         style="position:absolute; left:-9999px;"
         alt="" />
  </div>
</noscript>
<!-- /Yandex.Metrika counter -->
