{% if page.lang == 'ru' %}
    <div class="likely likely-big">
        <div class="twitter" data-via="ymatuhin">Твитнуть</div>
        <div class="facebook">Поделиться</div>
        <div class="gplus">Плюсануть</div>
        <div class="vkontakte">Поделиться</div>
        <div class="telegram">Отправить</div>
    </div>
{% else %}
    <div class="likely likely-big">
        <div class="twitter" data-via="ymatuhin">Tweet</div>
        <div class="facebook">Share</div>
        <div class="linkedin">Link</div>
        <div class="gplus">Plus</div>
        <div class="vkontakte">Share</div>
        <div class="telegram">Send</div>
    </div>
{% endif %}
