---
layout: default
permalink: /be/
lang: be
title: Гульня дыназаўрыка гугл, гуляць онлайн
description: Беглы дыназаўр T-Rex скача праз кактусы. Міні гульня з браўзэра Google Chrome. Гуляць онлайн.
---

<h1>{{ page.title }}</h1>
<p>
	Міні гульня з скакаць дыназаўрам першы раз з'явілася ў браўзэры Google Chrome Canary. Старонка з гульнёй з'яўлялася
калі ў карыстальніка знікаў інтэрнэт. Дыназаўр стаіць на месцы і чакае калі карыстальнік націсне прабел, таму спачатку
можна не зразумець што гэта гульня.
</p>

{% include ads.html %}
{% include runner.html %}
{% include sharing-buttons.html %}

<br>
<br>
{% include ads.html %}
<br>

<p>
	Націсніце «прабел» каб пачаць гульню.
	<br> Калі гульня не работет, адкрыйце яе ў браўзэры <b>Google Chrome</b>.
</p>

<p>
	Беглы дыназаўрыка T-Rex скача праз кактусы. <br> Міні гульня з браўзэра гугл хром. Гуляць онлайн.
</p>

{% include footer.html %}
