---
layout: default
permalink: /be/
lang: be
title: Дыназаўр T-Rex з Google Chrome, гуляць онлайн
description: Беглы дыназаўр T-Rex скача праз кактусы - гэта міні гульня з браўзэра Google Chrome. У якую цяпер можна гуляць онлайн.
---

<h1>{{ page.title }}</h1>
<p>
	Міні гульня з скакаць дыназаўрам першы раз з'явілася ў браўзэры Google Chrome Canary.
	Старонка з гульнёй адкрывалася калі ў вас перарывалася злучэнне з інтэрнэтам.
	На старонцы дыназаўр нічога не робіць, проста стаіць. Каб пачаць гуляць, трэба націснуць на «прабел».
	Таму не ўсе карыстальнікі ведаюць аб гэтай гульні.
</p>

{% include ads.html %}
{% include runner.html %}

<p>
	Націсніце па экране (для мабільных прылад) або на «прабел», каб пачаць гульню.
	<br> Калі гульня не працуе, адкрыйце яе ў браўзэры  <b>Google Chrome</b>.
</p>
{% include sharing-buttons.html %}

<br>
<br>
{% include yandex_ads.html %}
<br>

<h2>Правілы гульні</h2>
<p>
	Для скачка дыназаўрам націсніце прабел або пстрыкніце па экране калі ў вас мабільнае прылада, напрыклад тэлефон або планшэт.
	<br> Пасля пачатку гульні, дыназаўр пачне бегчы. Каб пераскочыць кактусы вам трэба яшчэ раз націснуць на «прабел».
	<br> Хуткасць гульні будзе паступова павялічвацца, а пераскокваць кактусы усё больш складана. Калі вы набераце 400 ачкоў, у гульні з'явяцца лётаюць дыназаўры - птеродактили.
	<br> Іх можна таксама пераскочыць або, калі вы гуляеце з кампутара, вы можаце прыгнуцца націснуўшы на стрэлачку ўніз.
	<br> Гульня бясконцая. Не спрабуйце прайсці яе да канца.
</p>

<p>
	Дыназаўра клічуць T-Rex, гэта назва адзінага віду тыраназаўраў - Tyrannosaurus rex.
	Rex ад лацінскага - цар. Дзіўна што ў гульні ён скача праз кактусы і птэрадактыляў, хоць гэты выгляд з'яўляўся адным з самых моцных.
</p>

{% include footer.html %}
