---
layout: default
permalink: /en/
lang: en
title: Dinosaur T-Rex from Google Chrome, play online
description: The running dinosaur T-Rex jumps through cacti is a mini game from the Google Chrome browser. In which you can now play online.
---

<h1>{{ page.title }}</h1>
<p>
	Mini game with a jumping dinosaur for the first time appeared in the browser Google Chrome Canary.
	The page with the game was opened when you interrupted the connection to the Internet.
	On the page the dinosaur does not do anything, it's just worth it. To start playing, you need to click on the "space bar".
	Therefore, not all users are aware of this game.
</p>

{% include ads.html %}
{% include runner.html %}

<p>
	Tap on the screen (for mobile devices) or on the "space bar" to start the game.
	<br> If the game does not work, open it in the browser <b>Google Chrome</b>.
</p>
{% include sharing-buttons.html %}

<br>
<br>
{% include ads.html %}
<br>


<h2>Rules of the game</h2>
<p>
	For a dinosaur jump, press the spacebar or click on the screen if you have a mobile device, such as a phone or tablet.
	<br> After the game starts, the dinosaur will start running. To jump over the cacti you need to press the "space bar" again.
	<br> The speed of the game will gradually increase, and jumping cacti is more difficult. When you score 400 points, the game will appear flying dinosaurs - pterodactyls.
	<br> You can jump too, or if you are playing from a computer, you can duck by clicking on the down arrow.
	<br> The game is endless. Do not try to go through with it.
</p>

<p>
	The dinosaur is called T-Rex, this is the name of the only species of tyrannosaurs - Tyrannosaurus rex.
	Rex from the Latin - the king. It's strange that in the game he jumps through cacti and pterodactyls, although this species was one of the strongest.
</p>

{% include footer.html %}
