---
layout: default
permalink: /
lang: ru
title: Игра динозаврик гугл, играть онлайн
description: Бегущий динозавр T-Rex прыгает через кактусы. Мини игра из браузера Google Chrome. Играть онлайн.
---

<h1>{{ page.title }}</h1>
<p>
	Мини игра с прыгающим динозавром первый раз появилась появилась в браузере Google Chrome Canary. Страница с игрой появлялась
	когда у пользователя пропадал интернет. Динозавр стоит на месте и ждет когда пользователь нажмет пробел, поэтому сначала
	можно не понять что это игра.
</p>

{% include ads.html %}
{% include runner.html %}
{% include sharing-buttons.html %}

<br>
<br>
{% include ads.html %}
<br>

<p>
	Нажмите «пробел» чтобы начать игру.
	<br> Если игра не работет, откройте её в браузере <b>Google Chrome</b>.
</p>

<p>
	Бегущий динозаврик T-Rex прыгает через кактусы.<br> Мини игра из браузера гугл хром. Играть онлайн.
</p>

{% include projects.html %}
{% include footer.html %}
