---
layout: default
permalink: /
lang: ru
title: Динозавр T-Rex из Google Chrome, играть онлайн
description: Бегущий динозавр T-Rex прыгает через кактусы — это мини игра из браузера Google Chrome. В которую теперь можно играть онлайн.
---

<h1>{{ page.title }}</h1>
<p>
	Мини игра с прыгающим динозавром первый раз появилась в браузере Google Chrome Canary.
	Страница с игрой открывалась когда у вас прерывалось соединение с интернетом.
	На странице динозавр ничего не делает, просто стоит. Чтобы начать играть, нужно нажать на «пробел».
	Поэтому не все пользователи знают об этой игре.
</p>

{% include ads.html %}
{% include runner.html %}

<p>
	Нажмите по экрану (для мобильных устройств) или на «пробел», чтобы начать игру.
	<br> Если игра не работает, откройте её в браузере <b>Google Chrome</b>.
</p>
{% include sharing-buttons.html %}

<br>
<br>
{% include yandex_ads.html %}
<br>

<h2>Правила игры</h2>
<p>
	Для прыжка динозавром нажмите пробел или щелкните по экрану если у вас мобильное устройство, например телефон или планшет.
	<br>После начала игры, динозавр начнет бежать. Чтобы перепрыгнуть кактусы вам нужно еще раз нажать на «пробел».
	<br>Скорость игры будет постепенно увеличиваться, а перепрыгивать кактусы все сложнее. Когда вы наберете 400 очков, в игре появятся летающие динозавры — птеродактили.
	<br>Их можно тоже перепрыгнуть или, если вы играете с компьютера, вы можете пригнуться нажав на стрелочку вниз.
	<br>Игра бесконечная. Не пытайтесь пройти её до конца.
</p>

<p>
	Динозавра зовут T-Rex, это название единственного вида тиранозавров — Tyrannosaurus rex.
	Rex от латинского — царь. Странно что в игре он прыгает через кактусы и птеродактилей, хотя этот вид являлся одним из самых сильных.
</p>

{% include projects.html %}
{% include footer.html %}
