---
layout: default
permalink: /ua/
lang: ua
title: Динозавр T-Rex з Google Chrome, грати онлайн
description: Той, що біжить динозавр T-Rex стрибає через кактуси - це міні гра з браузера Google Chrome. В яку тепер можна грати онлайн.
---

<h1>{{ page.title }}</h1>
<p>
	Міні гра з стрибаючим динозавром перший раз з'явилася в браузері Google Chrome Canary.
	Сторінка з грою відкривалася коли у вас переривалося з'єднання з інтернетом.
	На сторінці динозавр нічого не робить, просто варто. Щоб почати грати, потрібно натиснути на «пробіл».
	Тому не всі користувачі знають про цю гру.
</p>

{% include ads.html %}
{% include runner.html %}

<p>
	Натисніть по екрану (для мобільних пристроїв) або на «пробіл», щоб почати гру.
	<br> Якщо гра не працює, відкрийте її в браузері <b>Google Chrome</b>.
</p>
{% include sharing-buttons.html %}

<br>
<br>
{% include ads.html %}
<br>

<h2>Правила гри</h2>
<p>
	Для стрибка динозавром натисніть пробіл або клацніть по екрану якщо у вас мобільний пристрій, наприклад телефон або планшет.
	<br> Після початку гри, динозавр почне тікати. Щоб перестрибнути кактуси вам потрібно ще раз натиснути на «пробіл».
	<br> Швидкість гри буде поступово збільшуватися, а перестрибувати кактуси все складніше. Коли ви наберете 400 очок, у грі з'являться літаючі динозаври - птеродактилі.
	<br> Їх можна теж перестрибнути або, якщо ви граєте з комп'ютера, ви можете пригнутися натиснувши на стрілочку вниз.
	<br> Гра нескінченна. Не намагайтеся пройти її до кінця.
</p>

<p>
	Динозавра звуть T-Rex, ця назва єдиного виду тиранозаврів - Tyrannosaurus rex.
	Rex від латинського - цар. Дивно що в грі він стрибає через кактуси і птеродактилів, хоча цей вид був одним з найсильніших.
</p>

{% include footer.html %}
