---
layout: default
permalink: /ua/
lang: ua
title: Гра динозаврик гугл, грати онлайн
description: Той, що біжить динозавр T-Rex стрибає через кактуси. Міні гра з браузера Google Chrome. Грати онлайн.
---

<h1>{{ page.title }}</h1>
<p>
	Міні гра з стрибаючим динозавром перший раз з'явилася з'явилася в браузері Google Chrome Canary. Сторінка з грою з'являлася
коли у користувача пропадав інтернет. Динозавр стоїть на місці і чекає коли користувач натисне пробіл, тому спочатку
годі й зрозуміти що це гра.
</p>

{% include ads.html %}
{% include runner.html %}
{% include sharing-buttons.html %}

<br>
<br>
{% include ads.html %}
<br>

<p>
	Натисніть «пробіл» щоб почати гру. <br> 
	Якщо гра не работет, відкрийте її в браузері <b>Google Chrome</b>.
</p>

<p>
	Той, що біжить динозаврик T-Rex стрибає через кактуси. <br> 
	Міні гра з браузера гугл хром. Грати онлайн.
</p>

{% include footer.html %}
